﻿<!DOCTYPE html>
<html>
<head>
    
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@*Wszystkie opcje są zwinięte w menu*@
<body>
    <style>
     body {background-color:chartreuse;}
    </style>
    <nav class="navbar navbar-default navbar-fixed-top navbar-static-top">
        <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        @Html.ActionLink("Siedemnastki", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse ">
           <div class="dropdown">
                    <button class="btn btn-group-vertical dropdown-toggle" type="button" data-toggle="dropdown" id="ToRed">
                        Menu <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Start", "Index", "Home")</li>
                        <li>@Html.ActionLink("O nas", "About", "Home")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Kadra", "Staff", "Home")</li>
                    </ul>
           @*@Html.Partial("_LoginPartial")*@     
           </div>
         
        </div>
        </div>
    </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
