﻿body {
    font-family: sans-serif;
    font-size: 14px;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=pass], textarea{
    width: 150px;
}

#main {
    background-color: #eee;
    padding: 8px;
    margin: 0;
}

#footer {
    background-color: #222;
    color: #eee;
    padding: 8px 4px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.artur {
    max-width: 50px;
    border: 1px solid black #222;
    padding: 3px;
}

#menu li {
    list-style-type: none;
    font-size: 12px;
}

#sidebar {
    background-color: royalblue;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 8px 4px 4px;
    color: #eee;
}

#wrapper {
    margin-left: 258px;
}