﻿@model IEnumerable<GrzegorzMaciejewskiLab7ZadanieDomowe.Models.Loty>
<script src="/Scripts/angular.min.js"> </script>
<script src="/Scripts/MyAngular.js"></script>
<script src="../../Scripts/jquery-1.10.2.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/js/ngDialog.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/css/ngDialog-theme-default.min.css" />

@{
    ViewBag.Title = "Loty";
}

<h2>Spis Lotów</h2>

<div ng-app="myApp">
    <div ng-controller="MyController">


        @*Ng dialog odpowiedzialny za rezerwacje biletu na odpowiedni lot*@
        <script type="text/ng-template" id="templateId">
            <div><header>Rezerwowanie biletu na lot o ID</header></div>
            <div>{{FlightID}}</div>
            <input type="text" class="input-lg" name="CustomerName" placeholder="Imie"/>
            <input type="text" class="input-lg" name="CustomerSurname" placeholder="Nazwisko" />
            <input type="text" class="input-lg" name="tickets" placeholder="Ilość biletów" />
            <br />
            <div class="btn btn-warning" ng-if="freeSeats" ng-click=bookTickets()>Rezerwacja</div>
            <span ng-if="!freeSeats" class="btn btn-danger"> Nie ma wolnych miejsc</span>
            <br />
        </script>
        @*Na wypadek gdyby ktoś chciał więcej biletów niż jest dostępne*@
        <script type="text/ng-template" id="tooManyTickets">
            <div><header>Wybrano zbyt dużą ilość biletów, prosimy wybrać inny lot bądź zmniejszyć wymagania.</header></div>
         </script>

        @*lista możliwości sortowania, info przechowywane w data.singleSelect i przekazywane do komendy OrderBy*@
        <center>
            <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect" class="btn btn-success">

                <option value="">Wybierz sortowanie</option>
                <option value="Cena">Cena rosnąco</option>
                <option value="-Cena">Cena malejąco</option>
                <option value="MiejsceStartu">Alfabetycznie odlotami</option>
                <option value="-MiejsceStartu">Niealfabetycznie odlotami</option>
                <option value="MiejsceDocelowe">Alfabetycznie przylotami</option>
                <option value="-MiejsceDocelowe">Niealfabetycznie przylotami</option>
            </select><br>
        </center>
        <br />
        @*Okienka do wyszukiwania i tabela z danymi*@
        <div class="container">
            <input tye="text" class="input-lg" ng-model="search.CzasOdlotu" placeholder="Wyszukaj po dacie odlotu"/>
            <input tye="text" class="input-lg" ng-model="search.CzasPrzylotu" placeholder="Wyszukaj po dacie przylotu" />
            <input tye="text" class="input-lg" ng-model="search.MiejsceStartu" placeholder="Wyszukaj po odlocie"/>
            <input tye="text" class="input-lg" ng-model="search.MiejsceDocelowe"placeholder="wyszukaj po miejscu docelowym" />
            <center>
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Miejsce Startu
                            </th>
                            <th>
                                Miejsce Docelowe
                            </th>
                            <th>
                                Czas Odlotu
                            </th>
                            <th>
                                Czas Przylotu
                            </th>
                            <th>
                                Ilość Wolnych miejsc
                            </th>
                            <th>
                                Cena biletu
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="flight in flights | filter:search| orderBy:data.singleSelect " ng-class=freeSeats(flight.WolneMiejsca)>
                            <td>{{flight.ID}}</td>
                            <td>{{flight.MiejsceStartu}}</td>
                            <td>{{flight.MiejsceDocelowe}}</td>
                            <td>{{flight.CzasOdlotu}}</td>
                            <td>{{flight.CzasPrzylotu}}</td>
                            <td>{{flight.WolneMiejsca}}</td>
                            <td>{{flight.Cena | currency:'PLN '}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click=clickToOpen(flight)>
                                    Rezerwuj miejsce
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>         


    </div>
</div>