﻿@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <title>Kredek</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/Gallery.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/Content/img/artur.jpg" alt="artur" class="artur" />
        <span>Artur Jordan</span>
        <ul id="menu">
            <li><a href="~/Home/Index">Strona główna</a></li>
            <li><a href="~/About/AboutUs">O nas</a></li>
            <li><a href="~/Gallery/PhotoGallery">Galeria</a></li>
            <li><a href="~/Contact/ContactUs">Kontakt</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <h1>Kredek</h1>
            
            <img src="~/Content/gif/jakZadzialaSzybko.gif" alt="gandalf" class="gandalf" />
            <img src="~/Content/gif/jakKodWyjdzieBardzo.gif" alt="europopGandalf" class="europopGandalf" />
            <p><img src="~/Content/img/lee.jpg" alt="kick" class="lee"></p>   
            <p></[><img src="~/Content/img/rainbow.jpg" alt="kick" class="rainbow"></p>
            
        </div>
        <div id="footer">
            &copy; Creation and Development Group - "Kredek"
        </div>
    </div>
</body>
</html>
