﻿
<div class="row">
    <div class="col-md-3">Tytuł</div>
    <div class="col-md-3">Autor</div>
    <div class="col-md-3">ISBN</div>
    <div class="col-md-3">Rok wydania</div>
</div>

<div class="row">
    <div class="col-md-3">Nauka C#</div>
    <div class="col-md-3">Jan Kowalski</div>
    <div class="col-md-3">1122-33444</div>
    <div class="col-md-3">2005</div>
</div>

<div class="row">
    <div class="col-md-3" id="toRed">Nauka HTML</div>
    <div class="col-md-3">John Smith</div>
    <div class="col-md-3">1122-3344455</div>
    <div class="col-md-3">2015</div>
</div>

<div class="row"id="toAppend"></div>
<input type ="text" id="search">
<div class="btn btn-success" onclick="search()">Kliknij</div>

<canvas></canvas>

<script src="../../Scripts/jquery-1.10.2.min.js" > </script>


<script>

    var can = document.querySelector("canvas");
    var ctx = can.getContext("2d");
   // ctx.fillStyle = "Red";
  //  ctx.fillRect(100, 55, 100, 100);
    var centerX = 200 / 2;
    var centerY = 150/ 2;
    var radius = 60;
    ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
    ctx.fillStyle = 'yellow';
    ctx.fill();
    ctx.lineWidth = 5;
    ctx.strokeStyle = 'red';
    ctx.stroke();

    console.log("Hello world - w konsoli");
    document.write("Hello world w dokumencie");
    //alert("okienko hello world");
    var redTitle = document.getElementById("toRed");
    redTitle.style.color = 'red';

    //var myClasses = document.querySelector(".col-md-3");
    ////myClasses.forEach(function()
    ////{
    ////console.log('Element');
    ////})
    //console.log(typeof(x));
    //var y = 9;
    //var z = "w";
    //console.log(typeof(y));
    //console.log(typeof (z));
    //if (y == '9') {
    //    console.log('that is true');
    //} else {
    //    console.log('That is not at all true');
   // }

    book = {
        'title': 'Nauka asp.net',
        'author': 'John Smith',
        'isbn': 12334445,
        'year': 2005
    };
    book2 = {
        'title': 'Nauka asp.net2',
        'author': 'John Smith2',
        'isbn': 123344456,
        'year': 2006
    };
    
    books = [];
    books.push(book);
    books.push(book2);
    console.log('our books are', books);
    $(document).ready(function () {
        console.log('here is jquery')
    });
        


   
        $("#toAppend").html("");
        var searchText = document.getElementById("search").value;
        newBooks = books.filter(function (element) {
            return element.title.indexOf(searchText) !== -1
        });
        console.log(newBooks);
        for (var i = 0; i < newBooks.length; i++) {
            $("#toAppend").append("<div class=\"col-md-3\">" + newBooks[i].title + "</div>");
        }
    
    
    
</script>



@*jak chce importować*@
<script src="../../Scripts/nauka.js">

</script>