﻿@{
    ViewBag.Title = "Kim jesteśmy?";
}
<br />
@*Strona "o nas" użyłem komponentów ze strony bootstrapa*@
<div class="panel panel-success">
    <div class="panel-heading">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="panel-body">
        <p>
           Jesteśmy szczepem harcerskim działającym na terenie Trzebnicy od 19 lat. Mamy za sobą kupę czasu i udało nam się dzięki temu zgromadzić
            kupę doświadczenia. Z twoją pomocą możemy osiągnąć jeszcze więcej.
        </p>

    </div>

</div>
