﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

@*strona "kontakt" zostały użyte komponenty ze strony bootstrapa*@
<address>
    <div class="alert alert-success" role="alert">
    Kim jesteśmy? : Trzebnicki szczep "Siedemnastki"<br />
    Gdzie nas znaleźć? : Trzebnica, piwnica z winem<br />
    </div>
     <div class="alert alert-info" role="alert">
    Jeżeli szukasz kontaktu to dzwoń pod numer : tysiąć trzysta sto czterysta </div>
</address>

