﻿<script src="../../Scripts/jquery-1.10.2.min.js"> </script>



@*Powitanie na stronie*@
<div class="container">
    <br />
    <br />
     <div class="jumbotron">
        <h1> Witaj na stronie Siedemnastek</h1>
        <p class="text-success">Znajdujesz się właśnie na stronie Trzebnickiego szczepu ZHR "Siedemnastki" zapraszam do zapoznania się ze wszystkimi pozycjami
         udostępnioymi w menu. Jest to wersja testowa strony, życzę miłej zabawy</p>
                            <canvas width="578" height="200">  </canvas>
                            
     </div>
</div>

<center>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/Cb14EgyAyr8" frameborder="1" allowfullscreen></iframe>
    </div>
</center>

@*skrypt rysujący logo z canvas*@
<script>

    var can = document.querySelector("canvas");
    var context = can.getContext("2d");
    context.lineWidth = 15;
     // miter line join (left)
    context.beginPath();
    context.strokeStyle = "blue";
    context.arc(460, 105, 80, 0, 2 * Math.PI)
    context.fillStyle = "yellow";
    context.fill();
    context.stroke();
    context.beginPath();
    context.moveTo(410, 150);
    context.lineTo(460, 50);
    context.lineTo(510, 150);
    context.strokeStyle = "brown";
    context.stroke();
    
    
</script>
