﻿
@{
    ViewBag.Title = "Kadra";
}
@*Tabela- stworzona na podstawie wskazówek z internetu oraz ze strony bootstrapa, są to osoby na stałe
dodane do tabeli*@
<h2>Kadra</h2>
<body>
    <div class="input-group">
        <span class="input-group-addon">Wyszukiwanie</span>
        <input type="text" class="search form-control" id="search" placeholder="wpisz co chcesz znaleźć">
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Spis kadry Siedemnastek</div>

        <div class="panel-body">
            <p>Ta tabela zawiera spis wszystkich harcerzy którzy biorą czynny udział w rozwoju szczepu</p>
        </div>

        <!-- Table -->
        <table class="table table-hover table-bordered results" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="col-md-5">Imie</th>
                    <th class="col-md-4">Nazwisko</th>
                    <th class="col-md-3">Funkcja</th>
                </tr>
            </thead>
            <tbody class="searchable">
                <tr id="add1">
                    <th scope="row">1</th>
                    <td>Adam</td>
                    <td>Mickiewicz</td>
                    <td>Druzynowy</td>
                </tr>
                <tr id="add2">
                    <th scope="row">2</th>
                    <td>Maciej</td>
                    <td>Kasza</td>
                    <td>Przyboczny</td>
                </tr>
                <tr id="add3">
                    <th scope="row">3</th>
                    <td>Maciej</td>
                    <td>Brzoza</td>
                    <td>Przyboczny</td>
                </tr>
                <tr id="add4">
                    <th scope="row">4</th>
                    <td>Andrzej</td>
                    <td>Kartofelek</td>
                    <td>Zastępowy</td>
                </tr>
                <tr id="add5">
                    <th scope="row">5</th>
                    <td>Marcin</td>
                    <td>Budek</td>
                    <td>Drużynowy</td>
                </tr>
                <tr id="add6">
                    <th scope="row">6</th>
                    <td>Grzegorz</td>
                    <td>Maciejewski</td>
                    <td>Szczepowy</td>
                </tr>
                <tr id="add7">
                    <th scope="row">7</th>
                    <td>Adam</td>
                    <td>Kwaśniewski</td>
                    <td>Druzynowy</td>
                </tr>
                <tr id="add8">
                    <th scope="row">8</th>
                    <td>Maciej</td>
                    <td>Kasza</td>
                    <td>Przyboczny</td>
                </tr>
             </tbody>
        </table>
    </div>
    <input type="text" class="form-control" id="addName" placeholder="Imie"> 
    <input type="text" class="form-control" id="addSurname" placeholder="Nazwisko"> 
    <input type="text" class="form-control" id="addFunction" placeholder="Funkcja">
    <a id="add_row" class="btn btn-default pull-left" onclick="add()">Dodaj Nową osobe</a>
</body>
<footer>
    <br />
</footer>
<script src="../../Scripts/jquery-1.10.2.min.js"> </script>


<script>
    //skrypt do wyszukiwania interesujących nas elementów
    //z każdym puszczeniem naciśniętego klawisza, tabela przeszukiwana jest pod kątem
    //wprowadzonego ciągu liter, i wyświetla tylko te z komórek w których znajduje się wpisana kombinacja
    $(document).ready(function () {

        (function ($) {

            $('#search').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');
                $(".searchable tr").hide();
                $(".searchable tr").filter(function () {
                    return rex.test($(this).text());
                }).show();

            })

        }(jQuery));

    });
    
  
    //Funkcja dodająca osobe do listy, niestety osoba usuwa się po każdym odświerzeniu strony
    function add() {
        var table = document.getElementById("table");
        var row = table.insertRow(table.rows.length);
        var cell1 = row.insertCell();
        var cell2 = row.insertCell();
        var cell3 = row.insertCell();
        var cell4 = row.insertCell();
        cell1.innerHTML = (table.rows.length - 1).toString();
        cell2.innerHTML = document.getElementById("addName").value;
        cell3.innerHTML = document.getElementById("addSurname").value;
        cell4.innerHTML = document.getElementById("addFunction").value;

        
    }
</script>      
    
