﻿

/*bez znaczka są przykładowo oznaczenia takie jak body, czy head, jeżeli przypisaliśmy jakiejś cześći dowolne ID w celu identyfikacji używamy #, jeżeli szukamy klasy
    to kropki
*/ 


body {
    font-family: sans-serif;
    font-size: 14px;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=pass], textarea{
    width: 150px;
}

#main {
    background-color: #eee;
    padding: 8px;
    margin: 0;
}

#footer {
    background-color: #222;
    color: #eee;
    padding: 8px 4px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#information{
    text-shadow:3px 3px 5px green;
}

.artur {
    max-width: 50px;
    border: 1px solid black #222;
    padding: 3px;
}

#menu li {
    list-style-type:circle;
    font-size: 25px;
    color:Black
}

#sidebar {
    background-color: chocolate;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 8px 4px 4px;
    color: #eee;
}

#wrapper {
    margin-left: 258px;
}