﻿@model GrzegorzMaciejewskiLab5PracaNaZajęciach.Models.Pizza

@{
    ViewBag.Title = "Dodaj pizze";
}

<h2>Dodaj Pizze</h2>
@*Dodajemy nową pizze, czyli podobnie jak przy edycji tworzymy nową z tym że tutaj właśnie tą nową dodajemy
do bazy*@
@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ingredients)
        @Html.TextBoxFor(m => m.Ingredients,new { @class = "form-control" })
    </div>

    <button type="submit" class="btn.-success"><span class="glyphicon glyphicon-saved"></span>Dodaj</button>
}
