﻿@@model GrzegorzMaciejewskiLab5PracaNaZajęciach.Models.Pizza*@

@{
    ViewBag.Title = "Edytuj pizze";
}

<h2>Edytuj pizze</h2>

@*Widok Edycji pizzy, tworzymy tak na prawdę nową pizze której właściwości pózniej zostają przypisane tej już 
istniejącej*@
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ingredients)
        @Html.TextBoxFor(m => m.Ingredients, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn.-success"><span class="glyphicon glyphicon-saved"></span>Edytuj</button>
}

