﻿@model List<GrzegorzMaciejewskiLab5PracaNaZajęciach.Models.Pizza>

@{
    ViewBag.Title = "Menu";
}

@*Tworzymy tabele, która posłuży nam do wyświetlenia naszego menu
najpierw deklarujemy nagłówki wszystkich kolumy a następnie co ma znajdować się w poszczególnych wierszach
tj Id pizzy, nazwa i składniki, oprócz tego każdy wiersz ma 3 przyciski, edycji, usuwania oraz możliwość zamówienia danej
pizzy*@
<h2>Menu</h2>
@Html.ActionLink("Dodaj Pizze","Add",null,new { @class = "btn btn-success" })
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Składniki</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pizza in Model)
        {
            <tr>
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td>@pizza.Ingredients</td>
                <td>@Html.ActionLink("Edytuj","Edit",new {id=pizza.Id },new { @class="btn btn-primary"})</td>
                <td>@Html.ActionLink("Usuń", "Delete", new { id = pizza.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Zamów", "Order", new { id = pizza.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
        
    </tbody>
</table>

