﻿@model List<GrzegorzMaciejewskiLab5PracaNaZajęciach.Models.Order>
@{
    ViewBag.Title = "Zamówienia";
}

@*Widok listy wszystkich zamówień, podobnie jak w przypadku listy menu tworzymy tabele, ustalamy co ma znajdować się
w każdym wierszu.*@
<h2>Zamówienia</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>Numer kontaktowy</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.PizzaName</td>
                <td>@order.Adress</td>
                <td>@order.PhoneNumber</td>
                <td>@Html.ActionLink("Usuń zamówienie", "DeleteOrder", new { id = order.Id }, new { @class = "btn btn-primary" })</td>

            </tr>
        }

    </tbody>
</table>
