﻿@model GrzegorzMaciejewskiLab5PracaNaZajęciach.Models.Order


@{
    ViewBag.Title = "Dodaj Zamówienie";
}

@*Widok składania zamówienia, tworzymy tutaj nowe zamówienie, które zostanie dodane do listy wszystkich zamówień w bazie*@
<h2>Dodaj Zamówienie</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Adress)
        @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>


    <button type="submit" class="btn.-success"><span class="glyphicon glyphicon-saved"></span>Zamów</button>
}

