﻿<script src="/Scripts/angular.min.js"> </script>
<script src="/Scripts/MyAngular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/js/ngDialog.min.js"></script>'
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.1/css/ngDialog-theme-default.min.css" />



<div ng-app="myApp">
    
    <div ng-controller="MyController">
       
        
         <button ng-click="clickToOpen()">My Modal</button>
    
    
    </div>

    <script type="text/ng-template" id="templateId">
        <div class="btn btn-danger">Im a modal</div>
    </script>
</div>

<script>
    var app = angular.module('myApp', ['ngDialog']);

    app.controller("MyController", function ($scope, ngDialog) {
        $scope.clickToOpen = function () {
            ngDialog.open({
                template: "templateId",
                scope: $scope,
                data: $scope.dialogData
            });
        };
    });
</script>