﻿<script src="/Scripts/angular.min.js"> </script>
<script src="/Scripts/MyAngular.js"></script>

<div ng-app="myApp">
    <div ng-controller="MyController">
      
        @*wyświetlanie pizzy*@
        <input tye="text" class="input-lg" ng-model="query"/>

        <div class="btn btn-primary"ng-click="togglePizzas()"> {{visible?"hide my pizzas":"show my pizzas"}} </div>
        <div ng-show="visible">
            <div class=" btn btn-danger" ng-if="omgError">{{omgError}}</div>
            <div ng-repeat="pizza in pizzas | filter: query | orderBy: 'Price'">
                <div class="btn btn-danger">{{pizza.Name}}</div>
                <div class="btn-info">{{pizza.Ingredients}}</div>
                <div class="btn-success">{{pizza.Price | currency:'PLN '}}</div>
            </div>
        </div>
        
        @*Jakieś coś*@
        Program w Angularze.
        {{ 7+2 }}
        Cześć {{ name }}


    </div>
</div>