﻿@{ 
    Layout = null;
    
}
<!DOCTYPE html>
<html>
<head>
        <title>Kredek</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <div id="sidebar">
        <img src="~/Content/img/artur.jpg" alt="artur" class="artur"/>
        <span>Artur Jordan</span>
        <ul id="menu">
            <li><a href="~/Home/Index">Strona główna</a></li>
            <li><a href="~/About/AboutUs">O nas</a></li>
            <li><a href="~/Gallery/PhotoGallery">Galeria</a></li>
            <li><a href="~/Contact/ContactUs">Kontakt</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <h1>Kredek</h1>
            <p>To będzie niedługo fajna strona :)</p>
            <form>
                <div>
                    <label>Imię</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Nazwisko</label>
                    <input type="text" />
                </div>
                <input type="submit" value="Dodaj" />
            </form>
        </div>
 
        <div id="footer">
            &copy; Creation and Development Group - "Kredek"
        </div>
    </div>
</body>
</html>

