﻿
@{
    ViewBag.Title = "Strona główna";
}

<h2>Witaj na stronie głównej Pizzeri IronPizza </h2>

    <head>
    <img src="http://donatellopizza.pl/gfx/najlepsza.png" width="900" />
    </head>
<body>
    <label>
        <font size="5" style="font-stretch">Zamów, już dziś a do każdej pizzy dorzucamy nokię 5510</font>
    </label>

</body>
      
    



