﻿@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <title>Kredek</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/About.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/Content/img/artur.jpg" alt="artur" class="artur" />
        <span>Artur Jordan</span>
        <ul id="menu">
            <li><a href="~/Home/Index">Strona główna</a></li>
            <li><a href="~/About/AboutUs">O nas</a></li>
            <li><a href="~/Gallery/PhotoGallery">Galeria</a></li>
            <li><a href="~/Contact/ContactUs">Kontakt</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <h1>Kredek</h1>
            <div id="info">
                <pre>        
         Wpłynąłem na suchego przestwór oceanu,
         Wóz nurza się w zieloność i jak łódka brodzi,
         Śród fali łąk szumiących, śród kwiatów powodzi,
         Omijam koralowe ostrowy burzanu.
 
         Już mrok zapada, nigdzie drogi ni kurhanu;
         Patrzę w niebo, gwiazd szukam, przewodniczek łodzi;
         Tam z dala błyszczy obłok - tam jutrzenka wschodzi;
         To błyszczy Dniestr, to weszła lampa Akermanu.
 
         Stójmy! - jak cicho! - słyszę ciągnące żurawie,
         Których by nie dościgły źrenice sokoła;
         Słyszę, kędy się motyl kołysa na trawie,
 
        Kędy wąż śliską piersią dotyka się zioła.
        W takiej ciszy - tak ucho natężam ciekawie,
        Że słyszałbym głos z Litwy. - Jedźmy, nikt nie woła.

        Pozdrawiam cieplutko
        Adam Mickiewicz
                </pre>    

             </div>
            
        </div>

        <div id="footer">
            &copy; Creation and Development Group - "Kredek"
        </div>
    </div>
</body>
</html>

