﻿@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <title>Kredek</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/Contact.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/Content/img/artur.jpg" alt="artur" class="artur" />
        <span>Artur Jordan</span>
        <ul id="menu">
            <li><a href="~/Home/Index">Strona główna</a></li>
            <li><a href="~/About/AboutUs">O nas</a></li>
            <li><a href="~/Gallery/PhotoGallery">Galeria</a></li>
            <li><a href="~/Contact/ContactUs">Kontakt</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <h1>Kredek</h1>
            <center id="information">
            <h2><span style="color:green">KONTAKT</span></h2>
            <p>Numer kontaktowy: 777 777 777</p>
             <pre>
                Jeżeli chcesz się przyłączyć do zabawy, poznać nowe technologie, castować fireballe, rzucać głazami siłą woli
                przyjdź na najbliższe czwartkowe spotkanie o 17 na politechnice wrocławskiej. W celu zlokalizowania sali
                skorzystaj z wrodzonych mocy telepatycznych.</pre>
            </center>
               
            
        </div>

        <div id="footer">
            &copy; Creation and Development Group - "Kredek"
        </div>
    </div>
</body>
</html>
